.home {
  min-height: 100vh;
  width: 100%;
  color: white;
  padding-top: 80px;
  /* because of the header */
  font-family: 'Poppins', sans-serif;
}

/* ===== MENU (SEARCH BAR) ===== */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  padding: 0px 20px;
  border-radius: 50px;
  border: 2px solid #e50914;
  background: #111;
  transition: 0.3s ease;
}

.search-icon {
  margin: 12px 0px;
  color: white;
}

.search-bar input {
  flex-grow: 1;
  height: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.search-bar:hover {
  box-shadow: 0 0 15px rgba(229, 9, 20, 0.6);
}

/* ===== MOVIES AREA ===== */
.movies {
  width: 100%;
  padding: 0 5%;
}

/* TITLE STYLE */
.movies p {
  font-size: 24px;
  font-weight: 600;
  padding-left: 12px;
  margin-bottom: 15px;
}

.movies-show {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}