.home {
  min-height: 100vh;
  width: 100%;
  color: white;
  padding-top: 80px;
  /* because of the header */
  font-family: 'Poppins', sans-serif;
}

.page-padding {
  padding: 0 5%;
}

/* ===== MENU (SEARCH BAR) ===== */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.trending.movies-show {
  display: flex;
  gap: 23px;
  scrollbar-width: none;
  padding-bottom: 10px;
}

.trending.movies-show::-webkit-scrollbar {
  display: none;
}

.auto-scroll {
  scroll-behavior: smooth;
}

/* Pause scrolling visually */
.trending.movies-show:hover {
  cursor: grab;
}


/* ===== MOVIES AREA ===== */
.movies {
  width: 100%;
}

/* TITLE STYLE */
.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    flex-grow: 1;
  }
}

.active {
  background-color: #e50914;
}

.movies-show {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
  padding: 0 50px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.page-item {
  border: 1px solid red;
  border-radius: 5px;
  padding: 0;
  height: 100%;
  width: 40px;
}

.page-item:hover {
  background-color: red;
  cursor: pointer;
  transition: 0.3s ease;
}

.page-item .page-link {
  color: white;
  border: none;
  background-color: transparent;
}

.page-item .page-link {
  color: white;
  border: none;
  background-color: transparent;
}