.home {
  min-height: 100vh;
  width: 100%;
  color: white;
  padding-top: 80px;
  /* because of the header */
  font-family: 'Poppins', sans-serif;
}

.page-padding {
  padding: 0 5%;
}

/* ===== MENU (SEARCH BAR) ===== */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 70%;
  max-width: 700px;
  gap: 10px;
  font-size: 18px;
  padding: 0px 20px;
  border-radius: 50px;
  border: 2px solid #e50914;
  background: #111;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .search-bar {
    width: 90%;
  }
}

.search-icon {
  margin: 12px 0px;
  color: white;
}

.search-bar input {
  flex-grow: 1;
  height: 100%;
  flex-grow: 1;
  height: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s ease;
}


.search-bar input:focus::placeholder {
  opacity: 0.3;
}

/* ===== MOVIES AREA ===== */
.movies {
  width: 100%;
}

/* TITLE STYLE */
.movies p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.active {
  background-color: #e50914;
}

.movies-show {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
  padding: 0 50px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.pagination {
  margin-bottom: 0;
  background-color: transparent;
}

.pagination .page-item {
  .pagination .page-item {
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
  }


  .pagination .page-item:hover {
    background-color: red;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .pagination .page-item .page-link {
    color: white;
    border: none;
    background-color: transparent;
  }

  .pagination .page-item .page-link:hover {
    color: black;
    border: none;
    background-color: transparent;
  }


  .page-item {
    cursor: pointer;

  }