.card {
    background-color: transparent;
    border: none;
    aspect-ratio: 0.68/1;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    transition: transform 0.2s;

    z-index: 1;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
    z-index: 2;

    .card-body {
        opacity: 0;
    }

    .card-gradient {
        opacity: 0;
    }
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.card-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    transition: opacity 0.2s;
    z-index: 2;
}

.card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    transition: opacity 0.2s;
    z-index: 3;
}