.modal-dialog *{
    color: white;
}
.imageUser{
    width: 120px;         /* taille fixe */
  height: 120px;
  object-fit: cover;    /* crop propre */
  border-radius: 50%;   /* garde la forme circulaire */
  object-position: center;
}
.btn-close:nth-child(1){
    position: absolute;
    top: 0;
}
input[type="file"]{
    display: none;
}