.modal-dialog *{
    color: white;
}
.imageUser{
    width: 150px;
    border: 3px solid white;
    cursor: pointer;
}
.btn-close:nth-child(1){
    position: absolute;
    top: 0;
}
input[type="file"]{
    display: none;
}