.footer-dark-red {
  background: linear-gradient(180deg, #0b0b0b, #140000);
  color: #ccc;
}

.footer-title {
  color: #e50914;
  font-weight: 700;
  cursor: pointer;
}

.footer-subtitle {
  color: #fff;
  margin-bottom: 12px;
}

.footer-text {
  font-size: 0.9rem;
  color: #aaa;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #e50914;
}

.footer-input {
  background-color: #111;
  border: 1px solid #333;
  color: #fff;
}

.footer-input::placeholder {
  color: #777;
}

.footer-divider {
  border-color: #fff;
  margin: 10px 0;
}

.footer-copy {
  font-size: 0.85rem;
  color: #777;
}

.footer-social a {
  color: #bbb;
  margin-left: 15px;
  font-size: 1.2rem;
  transition: color 0.3s, transform 0.3s;
}

.footer-social a:hover {
  color: #e50914;
  transform: scale(1.1);
}

/* .apps {
  display: flex;
  justify-content: center;
} */

/* .store-link {
  width: fit-content;
} */

.apps {
  width: 100%;
  height: 40px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.apps img {
  height: 100%;
  cursor: pointer;
}

.apps img:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}