.search-bar {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 700px;
    gap: 10px;
    font-size: 18px;
    padding: 0px 20px;
    border-radius: 50px;
    border: 2px solid #e50914;
    background: #111;
    transition: 0.3s ease;
}

@media (max-width: 768px) {
    .search-bar {
        width: 90%;
    }
}

.search-icon {
    margin: 12px 0px;
    color: white;
}

.search-bar input {
    flex-grow: 1;
    height: 100%;
    flex-grow: 1;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease;
}


.search-bar input:focus::placeholder {
    opacity: 0.3;
}