.trending-section {
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}

.section-title {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
}

/* Container */
.trending-carousel-container {
  overflow: hidden;
  width: 100%;
}

.trending-carousel-wrapper {
  display: flex;
}

.trending-carousel-track {
  display: flex;
  gap: 20px;
  will-change: transform;
}

/* Movie Card */
.movie-item {
  min-width: 180px;
  background: #141414;
  border-radius: 14px;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-item:hover {
  transform: scale(1.1);
  cursor: pointer;
   filter: blur(1.5px) brightness(0.6);
}

.movie-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.5s ease , filter 0.5s ease;
}
.movie-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.movie-item:hover::after {
  opacity: 1;
}

.movie-title,
.movie-link {
  position: absolute;
  left: 10px;
  right: 10px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
}

.movie-title {
  bottom: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.movie-link {
  bottom: 15px;
  color: #e50914;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Show text on hover */
.movie-item:hover .movie-title,
.movie-item:hover .movie-link {
  opacity: 1;
  transform: translateY(0);
}
