.card {
    perspective: 1px;
    background-color: transparent;
    border: none;
    width: 162px;
    height: 240px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #e50914;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.card-gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    z-index: 2;
}

.card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    z-index: 3;
}